<div class="grid" *ngIf="stats">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">{{ stats.amountLabel }}</span>
                    <div class="text-900 font-medium text-xl">{{ stats.totalAmount | currency:'USD' }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-green-100 border-round"
                     [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-briefcase text-green-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>


    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Total remboursé</span>
                    <div class="text-900 font-medium text-xl">{{ stats.totalRealAmount | currency: 'USD' }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                     [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-check text-blue-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>


    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Total prêts</span>
                    <div class="text-900 font-medium text-xl">{{ stats.totalLoansCount }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-green-100 border-round"
                     [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-dollar text-green-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Remboursements reçus</span>
                    <div class="text-900 font-medium text-xl">{{ stats.totalRefundsReceived }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                     [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-arrow-down text-orange-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-9" *ngIf="stats.upcomingRefunds && stats.upcomingRefunds.length > 0">
        <div class="card">
            <h5>Remboursements à venir</h5>
            <ul class="list-none m-0 p-0">
                <li *ngFor="let r of stats.upcomingRefunds" class="flex justify-content-between py-2 border-bottom-1 surface-border">
                    <span>{{ r.counterparty }}</span>
                    <span>
                        {{ r.amount | currency:'USD' }} -
                        {{ r.dueDate | date:'fullDate' | frenchDate : "short" }} ({{ r.status }})
                    </span>
                </li>
            </ul>
        </div>
    </div>

<!--    <div class="col-12 lg:col-6 xl:col-3">-->
<!--        <div class="card mb-0">-->
<!--            <div class="flex justify-content-between mb-3">-->
<!--                <div>-->
<!--                    <span class="block text-500 font-medium mb-3">Remboursements en retard</span>-->
<!--                    <div class="text-900 font-medium text-xl">{{ stats.lateRefundsCount }}</div>-->
<!--                </div>-->
<!--                <div class="flex align-items-center justify-content-center bg-red-100 border-round"-->
<!--                     [ngStyle]="{width: '2.5rem', height: '2.5rem'}">-->
<!--                    <i class="pi pi-exclamation-triangle text-red-500 text-xl"></i>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
