<div class="card">
    <h2>Liste des remboursements</h2>
    <p-table
        [value]="refunds"
        [paginator]="true"
        [rows]="rows"
        [first]="first"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} remboursements"
        (onPage)="pageChange($event)"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>ID Prêt</th>
                <th>Montant</th>
                <th>Date de remboursement</th>
                <th>Statut</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-refund>
            <tr>
                <td>{{ refund.id }}</td>
                <td>{{ refund.loanId }}</td>
                <td>{{ refund.amount | currency:'EUR' }}</td>
                <td>{{ refund.refundDate | date:'dd/MM/yyyy' }}</td>
                <td>{{ refund.status }}</td>
            </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" text></p-button>
        </ng-template>

    </p-table>
</div>
