<div class="card">
    <h2>SETTINGS</h2>
    <p-divider></p-divider>
    <h4>Appearance</h4>
    <p-divider></p-divider>
    <div class="grid">
        <div class="col-4">
            <p class="text-900 font-medium text-xl">Interface Theme</p>
            <p class="text-sm text-green-500 -mt-2">Select your UI theme</p>
        </div>
        <div class="col-8">
            <div class="mt-3">
                <p-inputSwitch></p-inputSwitch>
            </div>
        </div>
    </div>
    <p-divider></p-divider>
    <div class="grid">
        <div class="col-4">
            <p class="text-900 font-medium text-xl">Dark Mode</p>
            <p class="text-sm text-green-500 -mt-2">Activate light or dark mode</p>
        </div>
        <div class="col-8">
            <div class="mt-3">
                <p-inputSwitch></p-inputSwitch>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>

    <h4 class="mt-5">Currency</h4>
    <p-divider></p-divider>
    <div class="grid">
        <div class="col-4">
            <p class="text-900 font-medium text-xl">Currency</p>
            <p class="text-sm text-green-500 -mt-2">Define your currency</p>
        </div>
        <div class="col-8">
            <div class="mt-3">
                <p-button *ngFor="let currency of currencies; let i = index"
                          icon="pi pi-{{currency.icon}}"
                          [outlined]="!currency.isSelected"
                          class="ml-4"
                          (click)="toggleCurrencySelection(currency)">
                </p-button>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>

    <h4 class="mt-5">Notifications</h4>
    <p-divider></p-divider>
    <div class="grid">
        <div class="col-4">
            <p class="text-900 font-medium text-xl">Email</p>
            <p class="text-sm text-green-500 -mt-2">Activate email notifications</p>
        </div>
        <div class="col-8">
            <div class="mt-3">
                <p-inputSwitch></p-inputSwitch>
            </div>
        </div>
    </div>
</div>
