<div class="card p-fluid mb-4">
    <h2>Mes prêts</h2>
    <div class="formgrid grid">
        <div class="field col-4">
            <label for="interestRateFilter">Taux d'intérêt</label>
            <input id="interestRateFilter" type="number" pInputText [(ngModel)]="interestRateFilter" />
        </div>

        <div class="field col-4">
            <label for="durationFilter">Durée (mois)</label>
            <input id="durationFilter" type="number" pInputText [(ngModel)]="durationFilter" />
        </div>

        <div class="field col-4">
            <label for="statusFilter">Statut</label>
            <p-dropdown
                [options]="statuses"
                [(ngModel)]="statusFilter"
                optionLabel="name"
                optionValue="code"
                placeholder="Sélectionner un statut"
                inputId="statusFilter"
            ></p-dropdown>
        </div>

        <div class="mt-4 pt-1 col-3 col-offset-6">
            <button pButton type="button" label="Appliquer les filtres" icon="pi pi-filter" (click)="applyFilters()"></button>
        </div>
        <div class="mt-4 pt-1 col-3">
            <button pButton type="button" label="Réinitialiser" icon="pi pi-refresh" class="p-button-secondary ml-2" (click)="resetFilters()"></button>
        </div>
    </div>


</div>

<div class="card">
    <h2>Liste de mes prêts</h2>
    <p-table
        [value]="filteredLoans"
        [paginator]="true"
        [rows]="rows"
        [first]="first"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} prêts"
        (onPage)="pageChange($event)"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Montant</th>
                <th>Taux d'intérêt</th>
                <th>Durée (mois)</th>
                <th>Statut</th>
                <th *ngIf="userRole === 'BORROWER'">Prêteur</th>
                <th *ngIf="userRole === 'LENDER'">Emprunteur</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-loan>
            <tr>

                <td>{{ loan.amount | currency:'EUR' }}</td>
                <td>{{ loan.interestRate }} %</td>
                <td>{{ loan.durationInMonths }}</td>
                <td>{{ loan.status | statusLabel }}</td>
                <td *ngIf="userRole === 'BORROWER'">
                    {{ loan.lender.lastName }} {{ loan.lender.firstName }}
                </td>
                <td *ngIf="userRole === 'LENDER'">
                    {{ loan.borrower.lastName }} {{ loan.borrower.firstName }}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
